body {
  margin: 0;
  padding: 0;
}

.app {

}

.app .model {
  position: absolute;
  left: 0;
  top:0;
  display: block;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

table, .table {
  margin:20px;
  border-collapse: collapse;
  border-style: hidden;
}

.table {
  display: flex;
  flex-flow: row;
  /* flex-wrap: wrap; */
  align-content: flex-start;
}
.table label {
  flex: 0 1;
}
.table input {
}

table th, table td, .table input, .table label {
  background: #fafafa33;
	padding: 0.5rem;
}
.table input[type=submit]
{
  background: #fafafa;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.table input[type=submit]:hover
{
  background: #fff;
  box-shadow: 5px 5px #000;
}

table th, .table label {
  border-bottom: #000 1px solid;
  font-weight: bold;
}

table td, .table input {
  border: none;
}

input[type=number] {
  width: 100%;
}
