body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
}

.app {
}

.model {
  position: absolute;
  left: 0;
  top:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

table, .table {
  margin:20px;
  border-collapse: collapse;
  border-style: hidden;
}
.data {
  position: absolute;
  bottom: 0;
  left: 0;
}

.table {
  /* display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: flex-start; */
  max-width: max(4rem,100vw);
}

.table label, .table input {
  margin: 0.5rem;
}

.table fieldset {
  display: inline-grid;
  grid-template: auto;
  grid-auto-flow: column;
  border: none;
}

table th, table td, .table input, .table label {
	padding: 0.5rem;
}
.table input[type=submit]
{
  background: #fafafa;
  padding: 0.5rem 1rem;
  cursor: pointer;

}
.table input[type=submit]:hover
{
  background: #fff;
  box-shadow: 5px 5px #000;
}

table th, .table label {
  border-bottom: #000 1px solid;
  font-weight: bold;
}

table td, .table input {
  border: none;
  background: #fafafa33;
}

input[type=number] {
  width: 3@rem;
}
